
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    border: 1px solid black;
    max-width: 810px;
    margin: 0 auto;
    padding: 1rem;
    line-height: inherit;
    
}
.main_content {
	display: flex;
	flex-direction: column;
	max-width: 810px;
	padding: 1rem;
	display: flex;
	border: 1px solid red;
	height: 900px;
}

.first_section {
	border: 1px solid red;
	height: 50%;
	display: flex;
	flex-direction: row;
}
.second_section {
	display: flex;
	flex-direction: column;

}


.text_one {
	border: 1px solid red;
	height: 20%;
	width: 50%;
	justify-content: center;

	align-items: center;
	

}
.main_img {
	margin-top: -5rem;
	border: 1px solid red;
	width: 50%;
	height: 70%;
	border-radius: 80px;

}



.second_section {	
	border: 1px solid red;
	height: 50%;	

}
